.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules
.github
test
images/**
!images/icon.png
out
*.vsix
.editorconfig
.eslintignore
.prettierrc
.prettierignore
yarn.lock
package-lock.json
